@model NoteSubmitModel
@{
    ViewData["Title"] = "Edit Note";
}

<div class="text-center">
    @if (Model.Id == null)
    {
        <h1> New note</h1>
    }
    else
    {
        <h1> Edit note</h1>
    }
<form asp-controller="Note" asp-action="Submit"
      method="post" role="form">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ItemId" />
    <textarea asp-for="Content" autofocus></textarea>

    <div class="mg-t-12">
        <button type="submit" class="btn btn-resize bg-green"><i class="fas fa-check"></i> Save</button>
        <a asp-controller="Item" asp-action="Detail" asp-route-id="@Model.ItemId"><button type="button" class="btn btn-resize bg-orange"><i class="fas fa-times"></i> Cancel</button></a>
    </div>
</form>
</div>
