@model NoteSubmitModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Delete Note</h1>
    <p>@Model.Content</p>
    <form asp-controller="Note" asp-action="SubmitRemove"
          method="post" role="form">
        <input type="hidden" name="id" value="@Model.Id" />

        <div class="mg-t-12">
            <button type="submit" class="btn btn-resize bg-red"><i class="fas fa-trash"></i> Confirm</button>
            <a asp-controller="Item" asp-action="Detail" asp-route-id="@Model.ItemId"><button type="button" class="btn btn-resize bg-orange"><i class="fas fa-times"></i> Cancel</button></a>
        </div>
    </form>
</div>
