@model ItemSubmitModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Archive item</h1>
    <p>@Model.Description</p>
    <form asp-controller="Item" asp-action="SubmitArchive"
          method="post" role="form">
        <input type="hidden" name="id" value="@Model.Id"/>
        <button type="submit">Confirm</button>
        <a asp-action="Index"><button type="button">Cancel</button></a>
    </form>
</div>
