@model ItemSubmitModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Model.Id == null)
    {
        <h1> New item</h1>
    }
    else
    {
        <h1> Edit item</h1>
    }
<form asp-controller="Item" asp-action="Submit"
      method="post" role="form">
    <input type="hidden" asp-for="Id" />
    <input asp-for="Description" autofocus />

    <div class="mg-t-12">
        <button type="submit" class="btn btn-resize bg-green"><i class="fas fa-check"></i> Save</button>
        <a asp-controller="Item" asp-action="Index"><button type="button" class="btn btn-resize bg-orange"><i class="fas fa-times"></i> Cancel</button></a>
    </div>
</form>
</div>
